<!-- <ion-header id="contents">
  <ion-content>
    <ion-button routerLink="['/Login']">Back</ion-button>
  </ion-content>
  <div class="ion-page" id="main-content">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Reset Password</ion-title>
      </ion-toolbar>
  </div>
  </ion-header> -->



  <ion-content  [fullscreen]="true">
    <div class="padding">
    <ion-title>Reset password</ion-title>
    </div> <br>
    <p>A one time passcode will be sent to the email entered below, please enter the passcode below in order to change your password</p>
    <form action="" class="ion-padding">
      <ion-item>
        <ion-input>Email</ion-input>
      </ion-item>
  
      <ion-button [routerLink]="['/login']">Send code</ion-button>
    </form>
    <br>
  
  
    <ion-button [routerLink]="['/login']">Back</ion-button>
  </ion-content>