  <div id="create">
  <ion-content [fullscreen]="true" class="ion-padding">
    <div class="padding">
      <ion-title>Create Event</ion-title>
      </div>
    
    <form [formGroup]="createVents" novalidate>
      <ion-item>
        <ion-input formControlName="Name" label="Name" label-placement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="Desc" label="Description" label-placement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date: </ion-label>
        <ion-datetime-button datetime="datetime3"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime3" presentation="date" formControlName="Date"></ion-datetime>
            </ng-template>
          </ion-modal>
      </ion-item>
      <ion-item>  
        <!-- ONE DATE AND TWO TIM INPUT -->
        <ion-toggle (click)="alldayChange()" formControlName="AllDay" >All Day?</ion-toggle>
        </ion-item>
      <ion-item *ngIf="!this.allDays" >
        <!-- <ion-datetime presentation="time-date" [preferWheel]="false" formControlName="STime" id="date"></ion-datetime> -->
        <ion-label>From:</ion-label>
        <ion-datetime-button datetime="datetime1"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime1" presentation="time" formControlName="STime"></ion-datetime>
            </ng-template>
          </ion-modal>
      </ion-item>
      <ion-item *ngIf="!this.allDays">
        <ion-label>To:</ion-label>
        <ion-datetime-button datetime="datetime2" ></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime2" presentation="time" formControlName="ETime"></ion-datetime>
            </ng-template>
          </ion-modal>
      </ion-item>

      <ion-button (click)="enterForm()" [disabled]="!createVents.valid">Enter</ion-button>
    </form>
    <span *ngIf="this.ifTimeError">The Start Time cannot be later than the End Time</span>


  </ion-content>
</div>
