  <div id="create">
  <ion-content [fullscreen]="true" class="ion-padding">
    <div class="padding">
      <ion-title>Sign in</ion-title>
      </div>
    
    <form [formGroup]="createVents" novalidate>
      <ion-item>
        <ion-input formControlName="Name" label="Name" label-placement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select formControlName="Days" label="Days of the week" [multiple]="true" >
          <ion-select-option [value]="this.calService.monday">Monday</ion-select-option>
          <ion-select-option [value]="this.calService.tuesday">Tuesday</ion-select-option>
          <ion-select-option [value]="this.calService.wednesday">Wednesday</ion-select-option>
          <ion-select-option [value]="this.calService.thursday">Thursday</ion-select-option>
          <ion-select-option [value]="this.calService.friday">Friday</ion-select-option>
          <ion-select-option [value]="this.calService.saturday">Saturday</ion-select-option>
          <ion-select-option [value]="this.calService.sunday">Sunday</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-input formControlName="STime" label="Start Time" label-placement="floating" placeholder="HH:MM PM/AM"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="ETime" label="End Time" label-placement="floating" placeholder="HH:MM PM/AM"></ion-input>
      </ion-item>
      <ion-button (click)="enterForm()" [disabled]="!createVents.valid">Enter</ion-button>
    </form>
    <span *ngIf="this.ifTimeError">The Start Time cannot be later than the End Time</span>


  </ion-content>
</div>
