<div id="create">
  <ion-content [fullscreen]="true" class="ion-padding">
    <div class="padding">
      <ion-title>Create Event</ion-title>
      </div>
    
    <form [formGroup]="createVents" novalidate>
      <ion-item>
        <ion-input formControlName="Name" label="Name" label-placement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="Desc" label="Description" label-placement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select formControlName="Days" label="Days of the week" [multiple]="true" >
          <ion-select-option [value]="this.calService.monday">Monday</ion-select-option>
          <ion-select-option [value]="this.calService.tuesday">Tuesday</ion-select-option>
          <ion-select-option [value]="this.calService.wednesday">Wednesday</ion-select-option>
          <ion-select-option [value]="this.calService.thursday">Thursday</ion-select-option>
          <ion-select-option [value]="this.calService.friday">Friday</ion-select-option>
          <ion-select-option [value]="this.calService.saturday">Saturday</ion-select-option>
          <ion-select-option [value]="this.calService.sunday">Sunday</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Start Date: </ion-label>
        <ion-datetime-button datetime="datetime3"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime3" presentation="date" formControlName="startDate"></ion-datetime>
            </ng-template>
          </ion-modal>
      </ion-item>
      <ion-item>
        <ion-label>End Date: </ion-label>
        <ion-datetime-button datetime="datetime1"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime1" presentation="date" formControlName="endDate"></ion-datetime>
            </ng-template>
          </ion-modal>
      </ion-item>
      <ion-item>
        <ion-label>From:</ion-label>
        <ion-datetime-button datetime="datetime2" ></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime2" presentation="time" formControlName="STime"></ion-datetime>
            </ng-template>
          </ion-modal>
      </ion-item>
      <ion-item >
        <ion-label>To:</ion-label>
        <ion-datetime-button datetime="datetime4" ></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime4" presentation="time" formControlName="ETime"></ion-datetime>
            </ng-template>
          </ion-modal>
      </ion-item>
      <ion-button (click)="enterForm()" [disabled]="!createVents.valid">Enter</ion-button>
    </form>
    <span *ngIf="this.ifTimeError">The Start Time cannot be later than the End Time</span>


  </ion-content>
</div>
